@import url("../assets/normalize.css");
@import url("../assets/fonts/import.css");
@import url("../assets/base.css");

body {
    max-width: 60ch;
    margin: 0 auto;
    padding-bottom: 20%;
}

header {
    text-align: center;
}

header::after {
    display: block;
    content: "· · ·";
}

header h1 {
    margin-bottom: 0;
}