@import url("../assets/normalize.css");
@import url("../assets/fonts/import.css");
@import url("../assets/base.css");

body {
    max-width: 60ch;
    margin: 0 auto;
    padding-bottom: 20%;
}

header {
    text-align: center;
}

header::after {
    display: block;
    content: "· · ·";
}

header h1 {
    margin-bottom: 0;
}

main img {
    width: 40ch;
    max-width: 90%;
}

figure {
    margin: 1ch 0;
    text-align: center;
}

footer {
    margin-top: 1rem;
    font-size: 80%;
}

footer p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

div.codeblock {
    font-family: monospace;
    border: 1px solid;
    padding: 1em;
    margin: 2ch 1em;
    max-width: 70ch;
    overflow-x: scroll;
}

div.codeblock span {
    padding-bottom: 1ch;
    display: block;
}

div.codeblock pre {
    margin: 0;
}