#!/usr/bin/env ruby

ignore '/**/_*'

compile '/**/*.scss' do
    filter :sass, syntax: :scss
    filter :pp_css
    write ext: '.css'
end

compile '/**/*.html' do
    layout '/standard.erb'
    filter :pp_html
    write ext: '.html'
end

compile '/**/*.erb' do
    layout '/standard.erb'
    filter :erb
    filter :pp_html
    write ext: '.html'
end

compile '/books/**/*.md' do
    write item.identifier.to_s
    filter :kramdown
    layout '/book.erb'
    filter :add_toc
    filter :pp_html
    write ext: '.html'
end

layout '/*.erb', :erb

passthrough '/**/*'