<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="bsod">
        <main>
            <span>A problem has been detected and the session has been shut down to prevent damage to your browser.</span>
            <br>
            <br>
            <span>RESOURCE_NOT_FOUND</span>
            <br>
            <br>
            <span>If this is the first time you've seen this Stop error screen,</span>
            <br>
            <span>go back to the previous page. If this screen appears again, follow</span>
            <br>
            <span>these steps:</span>
            <br>
            <br>
            <span>Return to the home page.</span>
            <br>
            <span>Check to make sure any new extensions are properly installed.</span>
            <br>
            <span>If this is a new installation, ask your hardware or software manufacturer for any updates you may need.</span>
            <br>
            <br>
            <span>If problems continue, disable or remove any newly installed extensions. Disable memory options such as caching or cookies and hit CTRL+F5. If this is a legitimate problem, open an issue on the repository :)</span>
            <br>
            <br>
            <span>Technical Information:</span>
            <br>
            <br>
            <span>*** STOP: 0x00000404</span>
        </main>
    </body>
</html>