/*
    This website uses the Crimson Pro font family!
    Take a look at the files below for more info.

    ragge.gay/assets/fonts/OFL.txt
    ragge.gay/assets/fonts/README.txt

    (These files have been converted from the original
    variable-weight TTF fonts to the WOFF format)
*/

@font-face {
    font-family: "Crimson Pro";
    src: url("../fonts/CrimsonPro-Regular.woff") format("woff"), url("../fonts/CrimsonPro-Regular.woff2") format("woff2");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Crimson Pro";
    src: url("../fonts/CrimsonPro-Italic.woff") format("woff"), url("../fonts/CrimsonPro-Italic.woff2") format("woff2");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-weight: normal;
    font-style: italic;
}