body {
    font-family: "Crimson Pro", serif;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
p, ol, ul, fieldset {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main p {
	text-indent: 2ch;
}

main > p {
    margin-top: 0;
    margin-bottom: 0;
}

fieldset > legend {
	margin-left: 2ch;
}

ol, ul {
	padding-left: 4ch;
}

ol > ol, ol > ul, ul > ol, ul > ul {
	margin-top: 0;
	padding-left: 2ch;
}