$black: #000000;
$gray: #9C9A9D;
$blue: #0001AB;
$white: #FFFFFF;

$common-bg: $black;
$bios-bg-00: $gray;
$bios-bg-01: $blue;
$bios-txt-00: $black;
$bios-txt-01: $blue;
$bios-txt-02: $white;
$bios-txt-03: $gray;
$bsod-bg: $blue;
$bsod-txt: $white;

html {
    background-color: $common-bg;
}

#bios {
    background-color: $bios-bg-00;
    color: $bios-txt-02;
}

#bios > header {
    background-color: $bios-bg-01;
}

#bios > footer {
    background-color: $bios-bg-01;
    color: $bios-txt-03;

    a,
    a:visited
    {
        color: inherit;
        text-decoration: none;
    }
}

#bsod {
    background-color: $bsod-bg;
    color: $bsod-txt;
}