@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(339, 0%, 5%);
        --fg: hsl(339, 0%, 100%);
        --ac: hsl(339, 100%, 70%);
    }

    html {
        background-color: black;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: hsl(339, 0%, 95%);
        --fg: hsl(339, 0%, 5%);
        --ac: hsl(339, 50%, 50%);
    }

    html {
        background-color: white;
    }
}

:root {
    --body-width: 800px;
    --body-margins: 16px;
    --font-size: 1.25em;
    --line-height: 1.5em;
    --item-margin: 1.25em;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    outline: 1px solid var(--ac);
}

::selection {
    background-color: var(--ac);
    color: var(--bg);
}

@counter-style asterisks {
    system: cyclic;
    symbols: "*";
    suffix: " ";
}

body {
    width: var(--body-width);
    max-width: calc(100% - var(--body-margins) * 4);
    margin: var(--body-margins) auto var(--body-margins) auto;
    padding: var(--body-margins);
    line-height: var(--line-height);
    font-family: monospace;
    font-size: var(--font-size);
}

body *
{
    margin: var(--item-margin) 0 calc(var(--item-margin) / 2) 0;
}

ul {
    list-style: asterisks;
}

ul, ol {
    padding-left: 1em;
}

a, a:visited {
    color: var(--ac);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-indent: 2em;
}