:root {
    --white-0:  hsl(0,      0%,     100%);
    --white-1:  hsl(60,     28%,    95%);
    --white-2:  hsl(64,     12%,    74%);

    --black-2:  hsl(49,     13%,    34%);
    --black-1:  hsl(0,      0%,     10%);
    --black-0:  hsl(0,      0%,     0%);

    
    --purple:   hsl(262,    100%,   70%);
    --cyan:     hsl(191,    79%,    63%);
    --green:    hsl(83,     75%,    51%);
    --yellow:   hsl(55,     67%,    63%);
    --orange:   hsl(29,     96%,    54%);
    --red:      hsl(337,    100%,   48%);
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: vga;
    background: var(--black-0);
    color: var(--white-0);
}

header, 
main,
footer
{
    display: flex;
    flex-direction: column;
    gap: 1ch;
    max-width: 80ch;
}

header > *, header,
main > *, main,
footer > *, footer
{
    margin: 0.5ch 0;
}

html,
h1, h2, h3, h4
{
    font-size: 16px;
    font-weight: normal;
}

a {
    color: var(--cyan);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
    text-indent: 2ch;
}

::selection {
    background-color: var(--cyan);
    color: var(--black-0);
}

@font-face {
    font-family: vga;
    src: url('./vga.woff');
}

@counter-style asterisks {
    system: cyclic;
    symbols: "*";
    suffix: " ";
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(339, 0%, 5%);
        --fg: hsl(339, 0%, 100%);
        --ac: hsl(339, 100%, 70%);
    }

    html {
        background-color: black;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: white;
        --fg: hsl(339, 0%, 5%);
        --ac: hsl(339, 50%, 50%);
    }

    html {
        background-color: hsl(339, 0%, 95%);
    }
}

:root {
    --body-width: 800px;
    --body-margins: 16px;
    --font-size: 1.25em;
    --line-height: 1.5em;
    --item-margin: 1.25em;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    outline: 1px solid var(--ac);
}

::selection {
    background-color: var(--ac);
    color: var(--bg);
}

@counter-style asterisks {
    system: cyclic;
    symbols: "*";
    suffix: " ";
}

body {
    width: var(--body-width);
    max-width: calc(100% - var(--body-margins) * 4);
    margin: var(--body-margins) auto var(--body-margins) auto;
    padding: var(--body-margins);
    line-height: var(--line-height);
    font-family: monospace;
    font-size: var(--font-size);
}

body *
{
    margin: var(--item-margin) 0 calc(var(--item-margin) / 2) 0;
}

ul {
    list-style: asterisks;
}

ul, ol {
    padding-left: 1em;
}

a, a:visited {
    color: var(--ac);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-indent: 1em;
}
*/